services:
  hocuspocus:
    # In case of MacOS you need to specify the platform in your `docker/dev/hocuspocus/docker-compose.override.yml`:
    # platform: linux/amd64
    image:  openproject/hocuspocus:main-defdb238
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hocuspocus.rule=Host(`hocuspocus.local`)"
      - "traefik.http.routers.hocuspocus.service=hocuspocus-service"
      - "traefik.http.routers.hocuspocus.tls=true"
      - "traefik.http.services.hocuspocus-service.loadbalancer.server.port=1234"
      - "traefik.http.routers.hocuspocus.tls.certresolver=step"
    networks:
      - gateway
    environment:
      - ALLOWED_DOMAINS=openproject.local,localhost
      - NODE_TLS_REJECT_UNAUTHORIZED=0
      - SECRET=secret12345
networks:
  gateway:
    external: true
    name: gateway
volumes:
  node_modules:
